* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Quicksand', Impact;
}
.container {
  max-width: 1170px;
  margin:0 auto;
  padding: 0 15px;
}
.header__inner {
display: flex;
align-items: center;
justify-content: space-between;
min-height: 100px;
}
.header__logo {
  margin-right: auto;
}
.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: stretch;
  width: 180px;
}
.header__nav-btn {
  background-color: transparent;
  border: 0;
  display: inline-block;
  outline: 0;
  cursor: pointer;
}